<nav>
    <div class="site-title">
        
        <a href="/"><h1>Anime Raver</h1></a>
        <p>A Forum Dedicated to All Things Anime</p>
    </div>
    <ul>
        <li><a href="/">Rants</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/rants/create">New Rant</a></li>
    </ul>
</nav>