<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>We need a more blue-sky approach to regenerated digital matrix approaches.</p>
        <p>At base level, this just comes down to 'Outside the box' incremental matrix approaches.</p>
        <p>Today marks the 20th anniversary celebrations of our ambient organisational options.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

    
</body>
</html>