<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="create-rant content">
        <form action="/rants" method="post">
            <label for="title">Rant title:</label>
            <input type="text" id="title" name="title" required>
            <label for="snippet">Rant snippet:</label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Rant body:</label>
            <textarea id="body" required name="body"></textarea>
            <button>Submit</button>
         </form>
        </div>
        <%- include('./partials/footer.ejs') %>

    
</body>
</html>